@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');
:root{
 --primary-white:#fff;
 --primary-orange:#f9ab00;
 --primary-dark:rgba(255,255,255);
}
body{
  font-family: "Roboto Condensed" sans-serif;
}
/*********************NAVBAR****************/
.logo{
  width: 5rem;
}
/*--- MENU LINKS---*/

nav ul li {
  text-transform: uppercase;
  margin: 0 0.75rem;
}

.navbar-nav > li > a{
   color: var(--primary-white) !important;
 
}
.navbar-nav >li > a.active,.navbar-nav >li > a:hover ,.navbar-nav >li > a.active:focus{
  border-top: 0.18rem solid var(--primary-orange);
}